.container {
    width: 30%;
    height: 293px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    margin-right: 28px;

 .photo-image {
    max-width: 100%;
    min-height: 100%;
    transform: translateY(-20%);
 }
 &:hover .overlay {
     opacity: 1;
 }

 .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    .data {
        color: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        &:first-child {
            margin-right: 10px;
        }
        svg {
            margin-right: 5px;
        }
    }
 }
}