.App {
  text-align: center;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.appHeader {
  background-color: $bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
